@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.main-wrapper{
  min-width: 375px;
}

/*Navbar*/
.link{
  font-size: 1rem;
  color: black;
  width: 5.5rem;
  display: inline-block;
  padding: 0.5rem;
  text-align: center;
  transition: background-color 2s ease-out 100ms;
}

.main-navbar{
  display: flex;
  position: relative;
  align-items: baseline;
  justify-content: space-around;
  height: 8rem;
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding-top: 2.5rem;
}

.dummy{
  background-color: red;
  opacity: 0;
}

.navbar{
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

h1.link{
  font-size: 3rem;
  width: auto;
}

.navbar h1{
  font-family: 'Merriweather', serif;
}

.resize{
  max-width: 1.5rem;
  max-height: 1.5rem;
  margin-right: 0.5rem;
}

.socials{
  min-width: 96px;
}

.underline-anim{
  position: relative;
  cursor: pointer;
}

.underline-anim::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: black;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.underline-anim:hover::after,
.underline-anim:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

/*Home*/
.slideshow{
  display: flex;
  height: 60vh;
  width: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url("/public/boba.jpg");
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.welcome{
  color: white;
  background: rgba(0, 0, 0, 0.45);
  text-align: center;
  width: 35%;
  margin-bottom: 3rem;
  padding: 3%;
  min-width: 305px;
  max-height: 100%;
}

.welcome h1{
  font-size: 300%;
  font-family: 'Merriweather', serif;
}

.welcome p{
  margin-top: 1.5em;
  margin-bottom: 3em;
  color: white;
}

.style-button{
  color: black;
  background-color: rgba(250, 250, 250, 1);
  display: inline-block;
  width: 30%;
  height: 30%;
  margin: 0px -3em;
  text-align: center;
  transition: background-color 0.2s ease-out 50ms;
  border: 2px solid rgb(0, 0, 0);
  min-width: 97px;
  cursor: pointer;
}

.button-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.style-button h3{
  font-size: 100%;
}

.style-button:hover{
  background-color:rgb(214, 214, 214);
}

.button-link{
  display: inline-block;
  padding: 0.3em 1em;
  width: 100%;
}

/*Home: Gallery*/
.gallery-container{
  width: 60%;
  margin: auto;
}

.gallery-container h1{
  text-align: center;
  margin: 4rem auto 0;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  border-bottom: 8px solid black;
}

.gallery-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem 1rem;
}

.gallery-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*Review Section*/
.main-review-section{
  margin: 4rem auto 0;
  height: auto;
  background-color: rgb(214, 214, 214);
  text-align: center;
  padding-bottom: 4.5rem;
}

.main-review-section h1{
  padding-top: 2rem;
}

.review-section{
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin-top: 3%;
  width: 30%;
}

.doordash{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.yelp{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.google{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.review-header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.service-img-size{
  width: 2rem;
  height: 2rem;
}

.review-header h2{
  display: inline-block;
  margin-left: 0.5rem;
}

.review-image{
  width: 95%;
  height: 100%;
  margin-top: 1rem;
  object-fit: contain;
}

#star{
  font-size: 1.5rem;
}

.review-img-size{
  margin: auto;
  width: 50%;
  height: 15rem;
  display: flex;
  text-align: center;
  justify-content: center;
}

/*Footer*/
.footer-section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  height: 15rem;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/public/footerboba.jpg");
  background-repeat: round no-repeat;
}

.spades-map{
  float: left;
  width: 100%;
  padding: 1rem;
}

.footer-content{
  text-align: center;
  color: white;
}

.footer-content h2{
  font-size: 1.8rem;
  margin-bottom: 5%;
  margin-top: 3%;
  width: auto;
}

.footer-content h3{
  font-size: 1rem;
}

.footer-wrapper{
  margin-bottom: 5%;
}

/*Menu Page*/

#main-menu{
  display: block;
  text-align: center;
  margin: auto;
  width: 50%;
}

/*Nav responsive*/
.nav-btn {
  display: none;
  visibility: visible;
  opacity: 0;
}

#hamburger-resize{
  display: none;
  text-align: center;
}

.mobile-navbar{
  background-color: rgb(224, 222, 222);
  width: 40vh;
  height: 100%;
  position: fixed;
  top: 0;
  color: black;
  text-align: center;
  text-transform: uppercase;
  right: 100%;
  transition: 0.4s;
  z-index: 98;
}

.mobile-navbar.mobile-active{
  transform: translateX(40vh);
}

.mobile-link{
  margin: 59px auto;
}

.tablet-delete{
  display: none;
}

/* RESIZE*/
@media only screen and (max-width: 1125px){
  .button-container{
    display: block;
    text-align: center;
    margin: auto;
    width: 100%;
  }

  .style-button{
    display: block;
    margin: auto;
  }

  .order-button{
    margin-top: 5%;
  }

  .welcome h1{
    font-size: 200%;
  }
}

@media only screen and (max-width: 768px){
  .dummy{
    display: none;
  }

  .nav-btn {
    opacity: 1;
    display: block;
    /* position: fixed; */
    margin: auto;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.3rem;
    transform: scale(1.2, 1);
    z-index: 99;
	}

  .nav-close-btn{
    position: fixed;
    z-index: 99;
  }

  #hamburger-resize{
    width: 96px;
    height: 25.8px;
    text-align: center;
    display: flex;
    justify-content: center;
    z-index: 99;
  }

  .welcome h1{
    font-size: 200%;
    font-family: 'Merriweather', serif;
  }

  .link{
    display: none;
  }

  .main-navbar{
    display: flex;
    align-items: center;
    padding-top: 1rem;
  }

  .resize{
    margin: auto 2px;
  }

  .welcome p{
    margin-top: 1em;
    margin-bottom: 1.75em;
    color: white;
  }

  .socials{
    visibility: hidden;
  }

  .gallery-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .gallery-img {
    display: block;
    height: 100%;
    width: 70%;
    object-fit: cover;
  }

  .review-section{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 9%;
  }

  .review-img-size{
    height: auto;
  }

  .review-wrapper{
    max-width: 70%;
  }

  .review-image{
    margin: auto;
  }

  .main-review-section{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .main-review-section h1 {
    padding-bottom: 1rem;
  }

  .footer-content h2{
    font-size: 1rem;
    margin-bottom: 13%;
    margin-top: 3%;
  }
}

@media screen and (max-width: 900px) and (orientation: landscape){
  .welcome{
    margin-bottom: 0;
  }

  .welcome h1{
    font-size: 150%;
    margin-top: 4%;
  }

  .style-button h3 {
    font-size: 70%;
  }

.welcome p {
  margin-top: 1.5em;
  margin-bottom: 5%;
  color: white;
  }

}